<!DOCTYPE html>
<html>

  <head>
    <title>XML DOM Parser</title>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">

    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">

  </head>

  <header>

        <div class="clear"></div>
        <h1> <div style="padding: 15px 10px 15px 10px; border-bottom: 1px solid #e7e7e9; text-align: left;">
          <h3 style="font-size: 36px; line-height: 30px; color: #58a734;  margin: 0; font-weight: 400;">
          <span style="font-family: 'FidelitySans',Arial,sans-serif;font-weight: 600;display: inline;">GET</span><span style="font-family: Fide
litySans,Arial,sans-serif;font-weight: 100;display: inline;">Tool</span>
          </h3>
         </div>

        </h1>

        <div id="fc-header-menubar" class="ofNoPrint">
        <div id="fc-navigation" class="nav_portlet">

        <ul class="megamenu">
          <li><a href="/">HOME</a></li>
          <li class="dropdown">
           <a href="javascript:void(0)" class="dropbtn">SELF SERVICE</a>
             <div class="dropdown-content">
                <a href="#">C2C SFTP SERVER SETUP</a>
                <a href="#">XML DOM PARSER</a>
            </div>
          </li>
          <li><a href="#about">ABOUT</a></li>
        </ul>
 </header>

 <body>
  <div class="border-row" style="width:100%; margin-bottom: 15px;"></div>
   <div class="container-fluid" align=center style="min-height:100%">
     {% block body %}{% endblock %}

   </div>
  </body>
</html>
